<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.bradleyhawkins.track-music</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/bradleyhawkins/bin/track-music.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/bradleyhawkins/Library/Logs/track-music.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/bradleyhawkins/Library/Logs/track-music-error.log</string>
</dict>
</plist>
